In [2]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"


import pandas as pd                                 # Data Frame

import matplotlib.pyplot as plt                     # Basic visualisation

from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

In [3]:
# Read the dataset
df = pd.read_csv('datasets/clothes_size_prediction.csv')
df.head()

   weight   age  height size
0      62  28.0  172.72   XL
1      59  36.0  167.64    L
2      61  34.0  165.10    M
3      65  27.0  175.26    L
4      62  45.0  172.72    M

## Take a look at the dataset

We'll try to predict the size based on the weight, age and height.   
  
Show some general info about the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119734 entries, 0 to 119733
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   weight  119734 non-null  int64
 1   age     119477 non-null  float64
 2   height  119404 non-null  float64
 3   size    119734 non-null  object
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB

What are number of records for each size?  

M: 29575  
S: 21829  
XXXL: 21259  
XL: 19033  
L: 17481  
XXS: 9907  
XXL: 69

Because there are only very few records for XXL, remove those records from the dataset

Train a transformer to fill in the median value of the corresponding attribute for all missing values.

Apply the imputer to the dataset and check the results.

At first sight this seems quite a large dataset, but is this actually true?  
First we are going to change the datatype of height from float to integer.

It seems reasonable to round the ages to the nearest five-fold

Change the datatype of age from float to integer.

We drop duplicate rows in the dataset.

How many records are left?

We want to know if there are any 'wrong duplicates' in the dataset, i.e. the same values for weight, age and height, but still another size. So we count the nunique

How many records are left?

Check if the dataset is heavily skewed.

Because we want to apply regression first, map the sizes to numbers as follows:  
'XXS' : 0, 'S' : 1, 'M': 2, 'L': 3,'XL':4,'XXXL': 5

What is X and what is y?

What is X_train, y_train, X_test, y_test?

What is the shape of X_train, y_train, X_test and y_test?

What are columns of X containing text?

What are the columns of X containing numbers?

Define the ColumnTransformer for applying Standard Scaling on all numeric columns.

## Regression

Define the model LinearRegression

Define the data preparation (= ColumnTransformer for standard scaling) and modeling pipeline

Train the model

What is the accuracy of the model?  
Use K-fold cross-validation with k = 3.  
Find an appropriate value for the attribute scoring on [metrics and scoring](https://scikit-learn.org/stable/modules/model_evaluation.html)

What are the values for intercept and the coefficients.  
Why do we have 3 coefficients?  
What is the most important coefficient?

Apply the model to the test set.

Calculate the Mean Absolute Error and the Root Mean Squared Error

Interprete the results.

## Classification

Use the softmax classifier to try to predict the class (0, 1, 2, 3, 4, 5).  
What is the accuracy score?

Create and show the confusion matrix for the test set.

The accuracy of the classifier is low, but we see that we often predict only one size too high or too small. 
Calculate how many times 
* the classifier was correct
* the classifier predicted the size to be one size higher than the actual size
* the classifier predicted the size to be one size smaller than the actual size