In [1]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame

import matplotlib.pyplot as plt                     # Basic visualisation

from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

The data provided contains information about individual study results for mathematics, together with demographic information about the student.
Solve each subquest in one cell. Show, if applicable, at the end of each cell first 5 lines of your last result (s).

In [2]:
demographic = pd.read_csv('datasets/demographic.csv')
demographic.head()

   StudentID  gender race/ethnicity parental level of education
0          0  female        group B           bachelor's degree
1          1  female        group C                some college
2          2  female        group B             master's degree
3          3    male        group A          associate's degree
4          4    male        group C                some college

Show some general info about the dataset

In [3]:
demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   StudentID                    1000 non-null   int64
 1   gender                       1000 non-null   object
 2   race/ethnicity               1000 non-null   object
 3   parental level of education  1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

Read in the dataset studentscore.csv

In [4]:
student = pd.read_csv('https://raw.githubusercontent.com/HOGENT-ML/course/main/datasets/studentscore.csv')
student.head()

   StudentID         lunch test preparation course  math score
0          0      standard                    none          72
1          1      standard               completed          69
2          2      standard                    none          90
3          3  free/reduced                    none          47
4          4      standard                    none          76

Show some general info about the dataset

In [5]:
student.info

<bound method DataFrame.info of      StudentID         lunch test preparation course  math score
0            0      standard                    none          72
1            1      standard               completed          69
2            2      standard                    none          90
3            3  free/reduced                    none          47
4            4      standard                    none          76
..         ...           ...                     ...         ...
995        995      standard               completed          88
996        996  free/reduced                    none          62
997        997  free/reduced               completed          59
998        998      standard               completed          68
999        999  free/reduced                    none          77

[1000 rows x 4 columns]>

Merge both data frames so that you have one line left per student.  
We are doing an **inner** join on student and demographic, using the column StudentID.

Remove all lines that contain empty fields in some columns.

What are the unique values of lunch, test preparation course, gender, race/ethnicity and parental level of education?

Replace the textual values of 'lunch', 'test preparation course' and 'gender' by numeric values 0 and 1.


Later on we will make a prediction model for the 'math score'. Remove the column or columns that are not relevant for this purpose.

What is X and what is y?

What is X_train, y_train, X_test, y_test?

What is the shape of X_train, y_train, X_test and y_test?

What are the columns containing numbers?

What are the columns containing text?

Define the ColumnTransformer for applying OneHotEncoder on both categorical columns.  
Why is one-hot-encoding preferable over numeric values in this case?

The dictionary below consists of the model Linear SVM Regression.  
Add a model for SVM Regression, using a 2nd-degree polynomial kernel.

For each of both models: 
* Define the data preparation and modeling pipeline
* Train the model
* What is the accuracy of the model, expressed as MAE? Use K-fold cross-validation with k = 3.

Find the best value for parameter epsilon for the linear model using GridSearchCV with three folds.

Use GridSearchCV to find the best parameters for the non-linear SVM regression task with little regularization (C is a large value)
* epsilon = 0.1, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5 
* kernel' = 'rbf', 'poly', 'sigmoid', 'linear'
* degree = [1, 2, 3]

Is it worth using non-linear SVM iso linear SVM?